[Unit]
Description=Descarga imagenes camara 71 grua 8 
After=network.target

[Service]
ExecStart=python3 captura_gstreamer.py config/captura_grua_8_71.ini
User=safetymind
WorkingDirectory=/data/pipelines-grua-apt/captura
Restart=always  

[Install]
WantedBy=multi-user.target